h1 {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.shipping-address,
.billing-address,
.payment-details {
  margin-bottom: 3vh;
}

.checkout-button {
  background-color: #FFCC00;
}

.order-form {
  margin-top: 1em;
}

/* Order details column */

.order-details {
  border: 1px solid #696969;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

